* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard {
    background-color: #e9ecef;
}

.sidepanel {
    background-color: #dee2e6;
}

h2 {
    background-color: #f8f9fa;
}

.widget {
    width: 250px;
    height: 200px;
    border: 1px solid black;
}

.widget .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addWidget {
    width: 250px;
    height: 200px;
    border: 1px dashed black;
}

.addWidget .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.cross {
    background-color: #fff;
    color: #808080;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    transition: 0.5s;
}

.trash {
    color: #808080;
    cursor: pointer;
    transition: 0.5s;
}

.cross:hover,
.trash:hover {
    color: #000000;
}